{% extends 'dash/dashbase.html' %}

{% block maincontent %}
<div class="page-inner no-page-title">
                    <div id="main-wrapper">
                        <div class="content-header">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb breadcrumb-style-1">
                                    <li class="breadcrumb-item"><a href="#">Forms</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Form Elements</li>
                                </ol>
                            </nav>
                            <h1 class="page-title">Edit Profile</h1>
                        </div>
                        
                        {% if resp %}
                        <div class="alert alert-success" role="alert">
                                {{resp}}
                        </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-xl">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Edit</h5>
                                        <form method="POST" class="needs-validation" novalidate>
                                        {% csrf_token %}
                                            <div class="form-row">
                                                <div class="col-md-6 mb-3">
                                                    <label for="validationCustom01">First name</label>
                                                    {{userform.first_name}}
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label for="validationCustom02">Last name</label>
                                                    {{userform.last_name}}
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-6 mb-3">
                                                    <label for="validationCustom03">Email</label>
                                                    {{userform.email}}                                                    
                                                </div>

                                                
                                                <div class="col-md-6 mb-3">
                                                    <label for="validationCustom03">Date of birth</label>
                                                    {{profileform.date_of_birth}}                                                    
                                                </div>

                                                    
                                                
                                            </div>

                                            <div class="form-row">
                                                <div class="col-md-6 mb-3">
                                                     <div class="custom-file">
                                                        <label class="custom-file-label" for="customFile">Choose file</label>
                                                        {{profileform.photo}}                                                           
                                                    </div>       
                                                </div>
                                                
                                            </div>
                                            
                                           
                                            <button class="btn btn-primary" type="submit">Submit form</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div><!-- Main Wrapper -->

                    
                <div class="page-footer">

{% endblock  %}