{% extends 'dash/dashbase.html' %}

{% block maincontent %}
<div class="page-inner no-page-title">
                    <div id="main-wrapper">
                        <div class="content-header">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb breadcrumb-style-1">
                                    <li class="breadcrumb-item"><a href="#">Forms</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Form Elements</li>
                                </ol>
                            </nav>
                            <h1 class="page-title">Edit Profile</h1>
                        </div>
                        
                        {% if resp %}
                        <div class="alert alert-success" role="alert">
                                {{resp}}
                        </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-xl">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Edit</h5>
                                        <form method="POST" class="needs-validation" novalidate>
                                        {% csrf_token %}
                                            <div class="form-row">
                                                <div class="form-group">
                                                    {{ form.old_password.label_tag }}
                                                    <input type="password" class="form-control {% if form.old_password.errors %}is-invalid{% endif %}"
                                                        id="old_password" name="old_password" value='{{ form.old_password.value|default:"" }}'>
                                                    <small class="text-muted">{{ form.old_password.help_text }}</small>
                                                    {% if form.old_password.errors %}
                                                    <div class="invalid-feedback">{{ form.old_password.errors }}</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Password</label>
                                                    <input type="password" class="form-control {% if form.password1.errors %}is-invalid{% endif %}"
                                                        id="id_password1" name="password1" value='{{ form.password1.value|default:"" }}'>
                                                    <small class="text-muted">{{ form.password1.help_text }}</small>
                                                    {% if form.password1.errors %}
                                                    <div class="invalid-feedback">{{ form.password1.errors }}</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                 <div class="form-group">
                                                   <label for="exampleInputEmail1">Verify Password</label>

                                                    <input type="password" class="form-control {% if form.password2.errors %}is-invalid{% endif %}"
                                                        id="password2" name="password2" value='{{ form.password2.value|default:"" }}'>
                                                    <small class="text-muted">{{ form.password2.help_text }}</small>
                                                    {% if form.password2.errors %}
                                                    <div class="invalid-feedback">{{ form.password2.errors }}</div>
                                                    {% endif %}
                                                </div>
                                                
                                            </div>
                                            
                                            
                                           
                                            <button class="btn btn-primary" type="submit">Submit form</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div><!-- Main Wrapper -->

                    
                <div class="page-footer">

{% endblock  %}