 {% extends 'auth/authbase.html' %}
    {% block title %}
    <title>Reset Sent - Bookmarker</title>
    {% endblock %}

    
    {% block content %}
        <div class="page-container">
            <div class="login">
                <div class="login-bg"></div>
                <div class="login-content">
                    <div class="login-box">
                        <div class="login-header">
                            <h3>Reset your password</h3>
                            <p>We've emailed you instructions for setting your password.
                            </p>
                            <p>If you don't receive an email, please make sure you've entered 
                                    the address you registered with.
                            </p>
                        </div>
                      
                        <div class="login-footer">
                            <p>Copyright @Stacks</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /Page Container -->
        
    {% endblock  %} 
 
 