 {% extends 'auth/authbase.html' %}
    {% block title %}
    <title>Login - Bookmarker</title>
    {% endblock %}

    
    {% block content %}
        <div class="page-container">
            <div class="login">
                <div class="login-bg"></div>
                <div class="login-content">
                    <div class="login-box">
                        <div class="login-header">
                            <h3>Reset your password</h3>
                            <p>Welcome back! Please login to continue.</p>
                        </div>
                        <div class="login-body">
                            {% if validlink %}
                                <form  method="POST">
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="form-group">
                                    <label for="{{field.label}}">{{field.label}}</label>
                                    {{field}}
                                    </div>
                                {% endfor %}

                                
                                <div class="custom-control custom-checkbox form-group">
                                    <input type="checkbox" class="custom-control-input" id="exampleCheck1">
                                    <label class="custom-control-label" for="exampleCheck1">Remember password</label>
                                </div>
                                <button type="submit" class="btn btn-primary">Change my password</button>
                            </form>
                            {% else %}
                                <p>The password reset link was invalid, possibly because it has 
                                already been used. Please request a new password reset.</p>
                            {% endif %}

                        </div>
                        <div class="login-footer">
                            <p>Copyright @Stacks</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /Page Container -->
        
    {% endblock  %} 
 
 