 {% extends 'auth/authbase.html' %}
    {% block title %}
    <title>Password Reset Successful - Bookmarker</title>
    {% endblock %}

    
    {% block content %}
        <div class="page-container">
            <div class="login">
                <div class="login-bg"></div>
                <div class="login-content">
                    <div class="login-box">
                        <div class="login-header">
                            <h3>Password Changed</h3>
                            <p>You can login with your new password
                            <a href="{% url 'account:login' %}">Login</a>
                            </p>
                        </div>
                      
                        <div class="login-footer">
                            <p>Copyright @Stacks</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /Page Container -->
        
    {% endblock  %} 
 
 